	h1 {
		color: orangered;
        font-family: sans-serif;
		font-size: 45px;
	}

	/* 3*3 Grid */
	#b1, #b2, #b3, #b4, #b5,
	#b6, #b7, #b8, #b9 {
		width: 80px;
		height: 52px;
		margin: auto;
		border: 1px solid gray;
		border-radius: 6px;
		font-size: 30px;
		text-align: center;
	}
	/* Reset Button */
	#but {
		box-sizing: border-box;
		width: 95px;
		height: 40px;
		border: 1px solid dodgerblue;
		margin: auto;
		border-radius: 4px;
		font-family: Verdana,
			Geneva, Tahoma, sans-serif;

		background-color: dodgerblue;
		color: white;
		font-size: 20px;
		cursor: pointer;
        transition: all linear 0.5s;
	}
    #but:hover{
        background-color: rgb(14, 183, 25) !important;
        transform: translateY(-20%);
      }
	/* Player turn space */
	#print {
		font-family: Verdana,
			Geneva, Tahoma, sans-serif;

		color: dodgerblue;
		font-size: 20px;
	}
	/* Main Container */
	#main {
        width: 80%;
        text-align: center;
        border: 1px solid red;
        margin: 68px auto;
        background-color: rgb(152, 223, 253);
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
	}

	/* Game Instruction Text */
	#ins {
		font-family: Verdana,
			Geneva, Tahoma, sans-serif;
			
		color: black;
		font-size: 17px;
	}
@media screen and (min-width:650px){
    #main{
        width: 60%;
    }
}